API_PORT=3000
DB_EXTERNAL_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_TEMPLATE=sums_template

# Seguridad
JWT_SECRET=sums_jwt_secret_2026

# CORS
ORIGIN_URL_1=
ORIGIN_URL_2=

# Replica DB (Opcional)
DB_HOST_DB=
DB_PORT_DB=
DB_USER_DB=
DB_PASSWORD_DB=
DB_TEMPLATE_DB=
DB_SSLMODE_DB=disable
